.cards_wrapper{
    margin: 20px;

    h1{
        text-align: center;
    }

    .cards_container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}